<div style="display: flex; width: 100%; justify-content: center;">
    <img src="assets/res_q_logo_black.svg" width="50%" style="margin-top: 2rem;">
</div>

<br />
<h1 id="imu-gps-api-and-front">IMU-GPS-API-AND-FRONT</h1>
<p>Node.js/express backend with an angular frontend</p>
<p>Built for the ResQ/Dekart project</p>
<p>Click the menu in the toolbar above in order to access the different pages</p>

<h2 id="built-with">Built With</h2>
<ul>
<li><a href="https://nodejs.org/en/">Node.js</a></li>
<li><a href="https://expressjs.com/">Express</a></li>
<li><a href="https://leafletjs.com/">Leaflet</a></li>
<li><a href="https://pouchdb.com/">PouchDB</a></li>
<li><a href="https://angular.io/">Angular</a></li>
</ul>

<h2 id="authors">Authors</h2>
<ul>
<li><strong>Caio Fleury</strong> - <a href="https://github.com/CaioF">CaioF</a></li>
</ul>    
